* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  text-align: center;
}

h1 {
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 200;
}

.bar-grid {
  border-top: solid 2px;
  width: 8rem;
}

.bar-grid-border {
  border-bottom: 2px solid #ffff;
  padding: 2px;
  margin: 2px;
  height: 5rem;
}

.bar-grid-container {
  display: flex;
  flex-direction: column;
}

#hourly-title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-size: 1.5rem;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 400;
}

#temp-grid-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#temperature-f-div {
  border-right: 2px solid #ffff;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 10rem;
  gap: 5px;
}

#temperature-f {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  margin-right: 4px;
  height: 10rem;
  gap: 5px;
}

.hours {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 10px;
}

#search-container {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  background-repeat: no-repeat;
  border-radius: 10px;
  /* border-style: solid, 1px; */
  border-color: #ffff;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.172);
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  color: #ffff;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  color: #ffff;
}

input::placeholder {
  color: #ffff;
}

input:focus {
  outline: none;
}

#temp-display-div {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.172);
  background-repeat: no-repeat;
  width: 34rem;
  margin: 15px;
  color: #ffff;
  height: 20rem;
  gap: 15px;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 1rem;
  width: 1rem;
}

#temp-display {
  font-size: 5rem;
}

#temperature {
  color: #ffff;
  display: flex;
  flex-direction: row;
}

#gr-location {
  color: #ffff;
  all: unset;
  cursor: pointer;
}

#fahrenheit-button {
  all: unset;
  cursor: pointer;
}

#celcius-button {
  all: unset;
  cursor: pointer;
}

#feels-like-div {
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 300;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.172);
  background-repeat: no-repeat;
  margin: 15px;
  width: 35rem;
  height: 10rem;
  gap: 15px;
  border-radius: 15px;

  align-content: center;
  justify-content: center;
  align-items: center;
}

#time-and-location {
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 300;
  font-size: 0.9rem;
}

#temp-details {
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 300;
  font-size: 1.5rem;
}

#hourly-forecast {
  /* overflow-y: auto; */
  height: 18rem;
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 350;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.172);
  background-repeat: no-repeat;
  margin: 15px;
  width: 35rem;
  /* gap: 15px; */
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#daily-forecast {
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 350;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.172);
  background-repeat: no-repeat;
  margin: 15px;
  width: 35rem;
  height: 20rem;
  /* gap: 15px; */
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 20px;
}

.forecast-title {
  margin-bottom: 2rem;
  color: #ffff;
  font-family: "obviously-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 350;
  font-size: 1.5rem;
}

.forecast-days {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  gap: 1rem;
}

#day-0-temps {
  grid-column: 1;
  flex-direction: column;
}

#day-1-temps {
  grid-column: 2;
  flex-direction: column;
}

#day-2-temps {
  grid-column: 3;
  flex-direction: column;
}
