body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Warm weather gradient */
  /* background: rgb(255, 114, 56);
  background: linear-gradient(
    90deg,
    rgba(255, 114, 56, 1) 0%,
    rgba(252, 246, 189, 1) 100%
  ); */

  /* Cool color gradient */
  background: rgb(0, 44, 84);
  background: linear-gradient(
    90deg,
    rgba(0, 44, 84, 1) 0%,
    rgba(14, 121, 178, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
